body {
    background-color: black;
    color: white;
}

h1 {
    margin-left: 10px;
}

header {
    h1 {
        line-height: 30px;
    }

    #subtitle {
        font-size: 10px;
        line-height: 2px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.post {
    width: 100px;
    height: 130px;
    /*display: inline-block; */
    line-height: 10px;
    background-color: rgb(26, 26, 26);
    margin: 5px;

    img {
        max-width: 80%;
        max-height: 50%;
    }

    a {
        float:left; clear:left
    }
}

.post-body {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px;

    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.post-page {
    h1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    img.post-img {
        transition-duration: 0.5s;
        transition-property: max-width;
        max-width: 50%;

        &:hover {
            max-width: 90%;
        }
    }
}

.user-page {
    
    .user-details, .user-posts {
        background-color: rgb(66, 66, 66);
        margin: 10px;
        padding: 10px;
    }
}

p.smol {
    line-height: 0px;
    font-size: small;
}

form {
    margin: 10px;
}
