$padding-size: 10px;

$themes: (
 light: (
   text: #151e16,
   background: #dbffdb,
   primary: #54ff47,
   secondary: #2ae539,
   accent: #ddff00,
 ),
 dark: (
   text: #e1eae2,
   background: #002400,
   primary: #0cb800,
   secondary: #1ad52a,
   accent: #ddff00,
 ),
);

.content-div {
    margin: $padding-size;
    padding: $padding-size;
    background-color: map-get(map-get($themes,dark), primary)
}

body {
    background-color: map-get(map-get($themes,dark), background);
    color: map-get(map-get($themes,dark), text);
}

.topbar {
    background-color: map-get(map-get($themes,dark), primary);
}

textarea {
    max-width: 100%;
}

h1 {
    margin-left: 10px;
}

header {
    h1 {
        line-height: 30px;
    }

    #subtitle {
        font-size: 10px;
        line-height: 2px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: $padding-size;
}

.post {
    width: 100px;
    min-height: 130px;
    /*display: inline-block; */
    line-height: 10px;
    /*background-color: rgb(26, 26, 26);*/
    background-color: map-get(map-get($themes,dark), primary);
    margin: 5px;
    padding: 5px;

    img {
        max-width: 80%;
        max-height: 50%;
    }

    a {
        float:left; clear:left
    }
}

.post-body {
    margin-left: $padding-size;
    margin-right: $padding-size;
    min-height: 200px;
    background-color: map-get(map-get($themes,dark), primary);

    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.post-page {
    h1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    img.post-img {
        transition-duration: 0.5s;
        transition-property: max-width;
        max-width: 50%;

        &:hover {
            max-width: 90%;
        }
    }

    .comments {
        /*background-color: rgb(66, 66, 66);*/
        background-color: map-get(map-get($themes,dark), primary);
        margin: $padding-size;
        padding: $padding-size;
        .comment {
            // background-color: rgb(88, 88, 88);
            background-color: map-get(map-get($themes,dark), secondary);
            margin: $padding-size;
            padding: $padding-size;
            
            .pfp {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.user-page {
    
    .user-details, .user-posts {
        //background-color: rgb(66, 66, 66);
        //margin: $padding-size;
        //padding: $padding-size;
    }
}

p.smol {
    line-height: 0px;
    font-size: small;
}

form {
    margin: $padding-size;
}

.pfp {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
    border-radius: 5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }
