<!DOCTYPE html>
<html>
<head>
    <title>ArtHaven</title>
    <link rel="stylesheet" href="/static/w3.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/static/jquery-3.7.1.min.js"></script>
	<script src="/static/load_header.js"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="header"></div>

    <h1>Content Rules</h1>
    <md-block>
        Hello and welcome to ArtHaven! I'm here to tell you the rules here on ArtHaven! They are as follows:
        1. No NSFW. I know this is controversial, but I want a clean site for art. I made this to be able to browse cool, safe art without having to use a whole lot of filters.
        2. No discrimination. Discrimination ain't cool man, so just don't.
        3. Please use tags for their respective purposes.

        Not following these rules may result in your posts and/or account being deleted.
        Thank you for understanding!
    </md-block>
</body>
</html>
