<!DOCTYPE html>
<html>
<head>
	<title>Home - ArtHaven</title>
	<link rel="stylesheet" href="static/w3.css" />
	<link rel="stylesheet" href="static/style.css" />
	<script src="static/jquery-3.7.1.min.js"></script>
	<script src="static/load_header.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="header"></div>

	<div class="w3-center">
		<h1>ArtHaven</h1>
		<p>An experimental place to post your SFW artwork.</p>
		{% if session["user_id"] %}
		<a href="/post" class="w3-button w3-dark-gray">Post Something</a>
		{% endif %}
		{% if not session["user_id"] %}
		<a href="/register" class="w3-button w3-dark-gray">Sign up</a>
		{% endif %}
	</div>

</body>
</html>
