<!DOCTYPE html>
<html>
<head>
	<title>{{ post[2] }} - ArtHaven</title>
	<meta content="{{ post[2] }} - ArtHaven" property="og:title" />
	<meta content="{{ post[0] }}\nFind more like this on ArtHaven!" property="og:description" />
	<!-- <meta content="https://embed.com/this-is-the-site-url" property="og:url" /> -->
	<meta content="{{ post[3] }}" property="og:image" />
	<meta content="#ffffff" data-react-helmet="true" name="theme-color" />
	<link rel="stylesheet" href="/static/w3.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<script src="/static/jquery-3.7.1.min.js"></script>
	<script src="/static/load_header.js"></script>
	<script type="module" src="https://md-block.verou.me/md-block.js"></script>
	<script>
		function deletePost() {
			$.get("/api/post/{{ post[5] }}/delete",function(data) {
				if (data == "Go back to browse idiot") {
					location.href = "/browse"
				}
			})
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="header"></div>
	<div class="post-page">
		<h1>{{ post[2] }}</h1>
		<div class="w3-center">
			<p class="smol">(Hover over image to make it bigger)</p>
			<img class="post-img" src="{{ post[3] }}" />
		</div>
		<div class="post-body content-div">
			{% if session["user_id"] == post[1] or session["moderator"] %}
			<button class="w3-button w3-black w3-right" onclick="$('#delete-prompt').show()"><span class="material-symbols-outlined">delete_forever</span></button>
			{% endif %}
			<button class="w3-button w3-red w3-right" onclick="$('#report-prompt').show()"><span class="material-symbols-outlined">report</span> Report</button>
			<md-block>**Description:** {{ post[0] }}<br />
				**Author:** <a href="/users/{{ post[1] }}">{{ post[6] }}</a><br />
				**Date Posted:** {{ postdate }}  
				**Tags:** {% for tag in tags %}<a href="/browse/tag/?tag={{ tag[2] }}">{{ tag[2] }}</a>, {% endfor %}
			</p>
		</div>
		<div class="comments">
			<h2 id="comments">Comments</h2>
			{% if session["user_id"] %}
			<form action="/comment/{{ post[5] }}" method="post">
				<textarea required placeholder="Type a comment" name="comment-box" id="comment-box" cols="100" rows="4"></textarea><br />
				<button type="submit" class="w3-button w3-white">Post Comment</button>
			</form>
			{% endif %}
			{% for comment in comments %}
			<div class="comment">
				{% if session["user_id"] == comment[3] or session["moderator"] %}
				<button class="w3-button w3-black w3-right"><span class="material-symbols-outlined">delete_forever</span></button>
				{% endif %}
				<h3><img src="{{ comment[5] }}" class="pfp" /><a href="/users/{{ comment[3] }}">{{ comment[4] }}</a></h3>
				<md-block>{{ comment[1] }}</md-block>
			</div>
			{% endfor %}
		</div>
		<div id="delete-prompt" class="w3-modal">
			<div class="w3-modal-content w3-dark-gray">
				<div class="w3-container">
					<p>Are you sure you want to delete the post?</p>
					<button class="w3-button w3-black" onclick="$('#delete-prompt').hide()">Cancel</button>
					<button class="w3-button w3-red" onclick="deletePost()">Yes, delete this post.</button>
				</div>
			</div>
		</div>
		<div id="delete-comment-prompt" class="w3-modal">
			<div class="w3-modal-content w3-dark-gray">
				<div class="w3-container">
					<p>Are you sure you want to delete this comment?</p>
					<button class="w3-button w3-black" onclick="$('#delete-prompt').hide()">Cancel</button>
					<button class="w3-button w3-red" onclick="deleteComment()">Yes, delete this comment.</button>
				</div>
			</div>
		</div>
		<div id="report-prompt" class="w3-modal">
			<div class="w3-modal-content w3-dark-gray">
				<h1>Report this post</h1>
				<div class="w3-container">
					<form action="/posts/{{ post[5] }}/report" method="post">
						<label for="report-content">Please put the reason as to why this post is innapropriate:</label>
						<textarea name="report-content" id="report-content" cols="50" rows="4" required></textarea><br />
						<button type="submit">Submit Report</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
