<!DOCTYPE html>
<html>
<head>
    <title>Browse - ArtHaven</title>
    <link rel="stylesheet" href="static/w3.css" />
	<link rel="stylesheet" href="static/style.css" />
	<script src="static/jquery-3.7.1.min.js"></script>
	<script src="static/load_header.js"></script>
</head>
<body>

    <div id="header"></div>
    <h1>Posts</h1>
    
    <!-- Form to submit a new post -->
    <form action="/post" method="post">
        <input type="text" name="content" placeholder="Write your post">
        <button type="submit">Post</button>
    </form>

    <hr>

    <!-- Display all posts -->
    <div>
        {% for post in posts %}
            <p>{{ post[1] }}</p> <!-- Assuming content is in the second column -->
            <hr>
        {% endfor %}
    </div>
</body>
</html>
