<!DOCTYPE html>
<html>
<head>
    <title>Post - ArtHaven</title>
    <link rel="stylesheet" href="static/w3.css" />
	<link rel="stylesheet" href="static/style.css" />
	<script src="static/jquery-3.7.1.min.js"></script>
	<script src="static/load_header.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function handleImageUpload() {
            var input = document.getElementById('imageInput');
            var file = input.files[0];

            var reader = new FileReader();
            reader.onload = function() {
                var dataURL = reader.result;
                document.getElementById('imagePreview').src = dataURL;

                // Set the data URL as the value of a hidden input field
                document.getElementById('dataURLInput').value = dataURL;
            };
            reader.readAsDataURL(file);
        }

        function countCharacters() {
            const maxLength = 1000; // Set your maximum character limit here
            const text = document.getElementById("post-content").value;
            const remaining = maxLength - text.length;
            
            const countDisplay = document.getElementById("characterCount");
            countDisplay.textContent = `Characters left: ${remaining}`;
        }

    </script>
</head>
<body>

    <div id="header"></div>
    <h1>Post</h1>
    
    <!-- Form to submit a new post -->
    <form action="/post" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Write your post title" maxlength="50" required><br />
        <p class="smol">(Maximum 50 characters for post title)</p>
        <!--<input type="text" name="content" placeholder="Write your post description" required><br /> -->
        <textarea id="post-content" name="content" placeholder="Write your post description..." rows="3" cols="50" maxlength="1000" oninput="countCharacters()" required></textarea><br />
        <p class="smol">(Markdown is supported in post descriptions)</p>
        <p class="smol" id="characterCount">Characters left: 1000</p>
        <input type="file" name="image" id="imageInput" accept="image/*" onchange="handleImageUpload()" required><br />
        <input type="hidden" name="dataURL" id="dataURLInput"><br />
        <img id="imagePreview" src="#" alt="Uploaded Image" style="max-width: 300px; max-height: 300px;"><br />
        <button type="submit">Post</button>
    </form>
</body>
</html>
