<!DOCTYPE html>
<html>
<head>
    <title>ArtHaven</title>
    <link rel="stylesheet" href="static/w3.css" />
	<link rel="stylesheet" href="static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="static/jquery-3.7.1.min.js"></script>
	<script src="static/load_header.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="header"></div>
    <h1>Registration Successful!</h1>
    <a href="/">Return home?</a>

</body>
</html>
