<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="static/w3.css" />
	<link rel="stylesheet" href="static/style.css" />
	<script src="static/jquery-3.7.1.min.js"></script>
	<script src="static/load_header.js"></script>
</head>
<body>
    <div id="header"></div>

    <h1>Registration</h1>

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required><br />
        <input type="email" name="email" placeholder="Email" required><br />
        <input type="password" name="password" placeholder="Password" required><br />
        <button type="submit">Register</button>
    </form>
    <p>Need to log in?<a href="/login"> Go here!</a></p>
    

</body>
</html>
