<!DOCTYPE html>
<html>
<head>
    <title>{{ user[0] }} - ArtHaven</title>
    <link rel="stylesheet" href="/static/w3.css" />
	<link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<script src="/static/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
	<script src="/static/load_header.js"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="header"></div>
    <div class="user-page"">
        <div class="content-div">
            {% if session["user_id"] == user[1] %}
            <a href="/settings" class="w3-button w3-black w3-right">Settings</a>
            {% endif %}
            <h1><img src="{{ user[5] }}" class="pfp" />User: {{ user[0] }}</h1>
            {% if user[4] and user[4] >= 1 %}
            <h3><span class="material-symbols-outlined">computer</span> Moderator</h3>
            {% endif %}
            <p>Joined on {{ joindate }}</p>
            <md-block>**Description:** {{ user[2] }}</md-block>
        </div>
        <div class="user-posts content-div">
            <h1>Posts by {{ user[0] }}</h1>
            <a href="/users/{{ user[1] }}/posts" class="w3-right">View all posts >>></a><br />
            <div class="row post-row">
                {% for post in posts %}
                    <div class="post w3-card">
                        <div class="w3-center">
                            <img src="{{ post[4] }}" />
                        </div><br />
                        <a href="/post/{{ post[0] }}" class="w3-center">{{ post[3] }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
